.frame {
  background-color: silver;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 70%;
}

.form button {
  margin-top: 0.5rem;
  background-color: aliceblue;
  border-radius: 6px;
  box-shadow: 2px rgba(0, 0, 0, 0.2);
}

.form button:hover {
  background-color: rgb(171, 210, 255);
  font-weight: bold;
}
