/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./src/app/Login/page.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.page_underline__pt_aO {
  text-decoration: underline;
}

.page_upperMargin__Hx6nd {
  margin-top: 2rem;
}

.page_lowerMargin__qsw6y {
  margin-bottom: 2rem;
}

